<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>商品列表</title>
    <meta charset="UTF-8" />
    <link href="/static/images/favicon.ico" type="image/x-icon" rel="icon" />
    <style type="text/css">
        .tabfont01 {
            font-family: "宋体";
            font-size: 9px;
            color: #555555;
            text-decoration: none;
            text-align: center;
        }
        .font051 {font-family: "宋体";
            font-size: 12px;
            color: #333333;
            text-decoration: none;
            line-height: 20px;
        }
        .font201 {font-family: "宋体";
            font-size: 12px;
            color: #FF0000;
            text-decoration: none;
        }
        .button {
            font-family: "宋体";
            font-size: 14px;
            height: 37px;
        }
        .bg{background-color:#fffde0}
        .bg1{background-color:#f2f2f2}
        .bg00{background-color:#fffde0}
        .bg01{background-color:#ffffff}
        .baise{ background-color:#ffffff}
        .huise{ background-color:#f2f2f2}
    </style>
    <link href="/static/css/css.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/skin.css" rel="stylesheet" type="text/css" />
</head>

<body>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <!--头部-->
    <tr>
        <td width="17" valign="top" background="/static/images/mail_leftbg.gif">
            <img src="/static/images/left-top-right.gif" width="17" height="29" />
        </td>
        <td valign="top" background="/static/images/content-bg.gif">
            <div  class="left_topbg" id="table2">
                <span class="titlebt">&emsp;
                    <a href="/admin/order/orderList">订单管理</a>&emsp;&emsp;
                    <a href="/admin/goods/goodsList">商品管理</a>
                </span>
                <span class="titlebt"></span>
            </div>
        </td>
        <td width="16" valign="top" background="/static/images/mail_rightbg.gif">
            <img src="/static/images/nav-right-bg.gif" width="16" height="29" />
        </td>
    </tr>
    <!--中间部分-->
    <tr>
        <td height="71" valign="middle" background="/static/images/mail_leftbg.gif">&nbsp;</td>
        <!--搜索-->
        <td valign="top" bgcolor="#F7F8F9">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td  style=" padding-top:20px; padding-bottom:10px">
                        <form action="/admin/order/orderList" method="post" name="listForm">
                            <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="10"></td>
                                    <td width="" class="TablePanel">
                                        订单号:<input  name="displayId" type="text" class="span2" value="" th:value="${displayId}"/>
                                        收货人姓名:<input name="name" type="text" class="span2" value="" th:value="${name}"/>
                                        收货人电话:<input name="tel" type="text" class="span2" value="" th:value="${tel}"/>
                                        <input type="hidden" name="startTime" class="span2" value="" th:value="${startTime}"/>
                                        <input type="hidden" name="endTime" class="span2" value="" th:value="${endTime}"/>
                                        <input name="Submit4" type="submit" value="查询" />
                                        <input name="Submit4" type="reset" value="重置" />
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <div style="width:100%; border-bottom:1px solid #ccc; height:20px;">&nbsp;</div>
                    </td>
                </tr>
                <!--表格-->
                <tr>
                    <td>
                        <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" id="subtree1">
                            <tr>
                                <td height="20">
                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td height="40" class="font42">
                                    <table width="100%" border="0" cellpadding="4" cellspacing="1" bgcolor="#cccccc" class="newfont03" >
                                        <tr bgcolor="#e1e5ee"  style=" font-weight:bold;" >
                                            <td width="10%">订单号</td>
                                            <td width="5%">商品ID</td>
                                            <td width="10%">商品名称</td>
                                            <td width="5%">商品链接</td>
                                            <td width="15%">收货人信息</td>
                                            <td width="5%">订单金额</td>
                                            <td width="5%">订单描述</td>
                                            <td width="5%">商品数量</td>
                                            <td width="5%">创建时间</td>
                                            <td width="5%">更新时间</td>
                                            <td width="5%">订单状态</td>
                                            <td width="10%">物流信息</td>
                                            <td width="10%">操作</td>
                                        </tr>

                                        <tr th:each="order:${orderList}" class="huise" onmouseover="this.className='bg'" onmouseout="this.className='bg1'">
                                            <td th:text="${order.displayId}"></td>
                                            <td th:text="${order.goodsId}"></td>
                                            <td th:text="${order.goods.name}"></td>
                                            <td ><a th:href="@{'goods/'+ ${order.goods.id}}">查看</a></td>
                                            <td th:text="${order.member}"></td>
                                            <td th:text="${order.orderPrice}"></td>
                                            <td th:text="${order.goodsSpec}"></td>
                                            <td th:text="${order.num}"></td>
                                            <td th:text="${#dates.format(order.createTime, 'yyyy-MM-dd')}"></td>
                                            <td th:text="${#dates.format(order.updateTime, 'yyyy-MM-dd')}"></td>
                                            <td >
                                                <select th:name="'status' + ${orderStat.count}">
                                                    <option value="12" th:selected="${order.orderState == 12}">待发货</option>
                                                    <option value="22" th:selected="${order.orderState == 22}">发货中</option>
                                                    <option value="31" th:selected="${order.orderState == 31}">已验收</option>
                                                    <option value="32" th:selected="${order.orderState == 32}">未验收</option>
                                                </select>
                                            </td>
                                            <td ><input type="text" th:name="'information' + ${orderStat.count}" th:value="${order.orderInformation}" /></td>
                                            <td>
                                                <a href="javascript:void(0)" th:onclick="'javascript:updateStatus(\''+${order.id}+'\',\''+${orderStat.count}+'\');'" >更新状态</a> <br/>
                                                <a href="javascript:void(0)" th:onclick="'javascript:updateInformation(\''+${order.id}+'\',\''+${orderStat.count}+'\');'" >更新物流信息</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--翻页-->
                    </td>
                </tr>
            </table>
        </td>
        <td background="/static/images/mail_rightbg.gif">&nbsp;</td>
    </tr>

    <!--底部-->
    <tr>
        <td valign="bottom" background="/static/images/mail_leftbg.gif"><img src="/static/images/buttom_left2.gif" width="17" height="17" /></td>
        <td  width="100%" background="/static/images/buttom_bgs.gif" ><img src="/static/images/buttom_bgs.gif" width="17" height="17" /></td>
        <td valign="bottom" background="/static/images/mail_rightbg.gif"><img src="/static/images/buttom_right2.gif" width="16" height="17" /></td>
    </tr>
</table>
</body>
<script type="text/javascript" th:src="@{/static/js/jquery-1.9.1.min.js}"></script>
<script type="text/javascript">
    function updateStatus(id,count){
        var status = document.getElementsByName('status'+count)[0].value;
        $.ajax({
            type:"POST",
            url:"/admin/order/update/status",
            data:{"id":id,"status":status},
            dataType:"json",
            success:function(data){
                if(data == true){
                    document.listForm.submit();
                }else{
                    alert("更新订单状态失败!");
                }
            },
            error:function(){
                alert("请求后台数据出错！");
            }
        });
    }
    function updateInformation(id,count){
        console.log(id + count);
        var information = document.getElementsByName('information'+count)[0].value;
        $.ajax({
            type:"POST",
            url:"/admin/order/update/information",
            data:{"id":id,"information":information},
            dataType:"json",
            success:function(data){
                if(data == true){
                    document.listForm.submit();
                }else{
                    alert("更新订单物流信息失败!");
                }
            },
            error:function(){
                alert("请求后台数据出错！");
            }
        });
    }
</script>
</html>
