server:
  port: 10000
  session:
    timeout: 30
  tomcat:
    max-connections: 800
    uri-encoding: UTF-8
    basedir: /home/azonebuy/tomcat
spring:
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML5
    encoding: UTF-8
    content-type: text/html
    cache: false
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/azonebuy?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    initialize: true
  redis:
    host: 127.0.0.1
    password:
    port: 6379
    database: 0
    pool:
      max-active: 200
      max-idle: 100
      max-wait: -1
      min-idle: 8
logging:
  file: azonebuy.log
  level: info
  path: /home/azonebuy

