#desc p img{wdith:auto !important;}
.item_sec {
    line-height: 30px;
    padding: 10px;
}
.add {
    background: rgb(245, 245, 245) none repeat scroll 0 0;
}
.row {
    padding: 5px 10px 5px 70px;
    position: relative;
}
@media screen (max-width: 780px){#iframess{height:1300px !important;}}

.input {
    border: 1px solid rgb(217, 217, 217);
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    text-indent: 6px;
    vertical-align: middle;
    width: 60%;
}


.row > label {
    left: 0;
    position: absolute;
}



#order {
    width: 100%;
}

.btn-style {
    background-color: rgb(153, 222, 44);
    border: 0 none currentcolor;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: block;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
}
.warp {
    border: 1px solid rgb(204, 204, 204);
    /*height: 100%;*/
    width: auto;
}

.subbox {
    float: left;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
}
#iframess{height:950px;}
#pagess{
	background: #f9f9f9 none repeat scroll 0 0;
    margin: 0 auto;
	max-width:650px;
    padding: 0 0 50px;
    width: 100%;	
	}
#detail-pic p img{width:100%;height:auto;float: left;}	

.banner-item {
	min-height: 165px;
}
.banner-item img {
	display: block;
	width: 100%;
}
.price-item {
	height: 180px;
	background: url(../images/bg-pricetab.jpg);
	padding: 0 10px;
}
.price-item .price-tab {
	height: 90px;
	text-align: right;
}
.price-item .price-tab em {
	height: 90px;
	line-height: 90px;
	color: #FFAF18;
	font-weight: bold;
	font-size: 48px;
	
	margin-right: 10px;
	float: left;
}
.price-item .price-tab span {
	width: 50px;
	display: inline-block;
	margin-top: 30px;
}
.price-item .price-tab span label {
	width: 50px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	color: #B6B3AD;
}
.price-item .amount-tab {
	overflow: hidden;
	clear: both;
	height: 40px;
	line-height: 40px;
}
.price-item .amount-tab .timmer {
	float: right;
	color: #FFF;
}
.price-item .amount-tab .timmer em {
	color: #FF6F20;
	padding: 0 2px;
}
.price-item .amount-tab .amount{
	color: #9B968E;
}
.price-item .amount-tab .amount em {
	color: #FFF;
	padding: 0 2px;
}
.price-item .btn-tab a {
	display: block;
	background: #ff0036;
	line-height: 40px;
	height: 40px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: #FFF;
}
.detail-item h2 {
	color: #948157;
	background: #EBEBEB url(../images/icon-title.png) 13px 11px no-repeat;
	background-size: 10px;
	height: 30px;
	line-height: 30px;
	padding-left: 29px;
	clear:both
}
.detail-content{
	padding: 10px;
	line-height: 25px;
}
.detail-pic img{
	display: block;
	width: 100%;
}
a.totop {
	position: fixed;
	bottom: 0;
	width: 50px;
	height: 50px;
	display: block;
	z-index: 9;
}
.btn-item {
	height: 50px;
	background: #ff0036 url(../images/btn-totop.png) 18px 18px no-repeat;
	background-size: 15px;
	bottom: 0;
	position: fixed;
	width: 100%;
}
.btn-item a {
	height: 50px;
	line-height: 50px;
	display: block;
	border-left: 1px solid #FFF;
	text-align: center;
	font-size: 16px;
	color: #FFF;
	margin: 0 0 0 50px;
	font-weight: bold;
}
.info{
	padding-bottom: 50px;
}
#im{
	position: fixed;
	left: 15px;
	bottom: 65px;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 3px;
	background-image: url(../images/im.png);
	background-size: 25px 25px;
	background-position: center 20%;
	background-repeat: no-repeat;
	color: #666;
	font-size: 10px;
	text-align: center;
}
#im span{
	position: absolute;
	bottom: 6%;
	left: 0;
	text-align: center;
	width: 100%;
	transform: scale(0.85);
	-webkit-transform: scale(0.85);
	transform-origin: center;
	-webkit-transform-origin: center;
}
.comment-title{
	width: 100%;
	height: 32px;
	line-height: 32px;
	background-color: #e8373c;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
}
.comment{
	width: 100%;
	height: 360px;
	margin-bottom: 20px;
	overflow: hidden;
}
.comment-inner{
	width: 100%;
}
.comment-name{
	line-height: 25px;
	color: #e8373c;
	margin-left: 10px;
	font-size: 14px;
}
.comment-content{
	line-height: 25px;
	margin-left: 10px;
	font-size: 14px;
	color: #666666;
	border-bottom: 1px dotted #cccccc;
}
.STYLE2 {color: #FF3300}
.STYLE3 {color: #0033CC}



.buyinfo {
    border-bottom: 1px solid #dadada;
    color: #797979;
    padding: 10px;
    position: relative;
	
	font-style:normal !important}
.buyinfo_price {
    font-size: 1.4em;
    font-weight:normal;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
}
.buyinfo_price_tit {
    color: #242424;
}
.buyinfo_price_now {
    color: #dd0000;
    font-size: 1.0em;
    font-weight: normal;
}
.buyinfo_price_now i {
    font-size: 30px;
}
.buyinfo_price_count {
    color: #dd0000;
    font-size: 15px;
}
.buyinfo_price_old {
    font-size: 11px;
    margin-left: 10px;
}
.buyinfo_sale {
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.buyinfo_sale_item {
    font-size: 1.0em;
    font-weight: normal;
    margin-right: 20px;
	font-style:normal !important
}
.buyinfo_sale_item i {
    color: #242424;
}
.buyinfo_post {
    height: 30px;
    line-height: 30px;
}
.buyinfo_post_item {
    font-size: 1.0em;
    font-weight: normal;
    margin-right: 10px;
}
.buyinfo_post_item i {
    color: #242424;
}
.buyinfo_post_item em {
    font-size: 9px;
}
.promolist {
    border-bottom: 10px solid #f1f1f2;
    border-top: 1px solid #dadada;
    font-size: 16px;
    font-weight: normal;
    margin-top: 20px;
}
.promolist span {
    color: red;
}
i, em {
    font-style: normal;
}
.buyinfo_sale_item i {
    color: #242424;
}

.buyInfo_div{
	padding:10px;
	line-height:25px;
	max-width:100%;
	font-family: 微软雅黑;
	line-height: 24px;
	background-color: rgb(249, 249, 249);
	font-size: 1em;
}

.buyInfo_p{
	margin: 0px; padding: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif, 宋体;
	color: rgb(51, 51, 51);
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	orphans: auto;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	widows: 1;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	text-align: center;
	line-height: 1.75em;
}

.buyInfo_span{
	color: rgb(255, 0, 0);
	font-size: 20px;
	font-weight: bold;
}

.font_size_18{
	font-size: 18px;
}

.kindly_reminder_p{
	margin: 0px; padding: 0px;
	font-family: Tahoma, Arial, Helvetica, sans-serif, 宋体;
	color: rgb(51, 51, 51);
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	orphans: auto;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	widows: 1;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	line-height: 1.75em;
}