body{margin:0px;}
html {
	scrollbar-face-color:#CCD0DB;
	scrollbar-highlight-color:#fff;
	scrollbar-shadow-color:#fff;
	scrollbar-3dlight-color:#6795B4;
	scrollbar-arrow-color:#20669A;
	scrollbar-track-color:#fff;
	scrollbar-darkshadow-color:#6795B4;
	border:0;
	overflow-x: hidden;
	overflow-y: auto;
}

TD{
	font-size: 12px;
	height:17px;
}

/*列表*/
.newfont01 {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.newfont01:hover {
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.newfont02 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
a.newfont02:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: underline;
}
.newfont03{
	text-align:center;
}


.newfont04 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: line-through;
}
.newfont05 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	text-decoration: none;
}
.newfont06 {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}


<!--后加样式-->
	.TablePanel{
		/* border:1px solid #999;*/
		background-color:  #DBE0E6;
	}

.TablePanel td{
	font-size:12px;
	/*background-color:  #fff;*/
}
.red{ color:#F00;}

.right-button06 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 24px;
	background-image: url(../images/button08.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}
.right-font08 {
	font-family: "宋体";
	font-size: 12px;
	color: #555555;
	text-decoration: none;
}
a.right-font08:hover {
	font-family: "宋体";
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
}
.right-text09 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #F26521;
	text-decoration: none;
}
.right-textfield03 {
	font-family: Tahoma;
	font-size: 11px;
	color: #555555;
	text-decoration: none;
	height: 14px;
}
.right-button06 {
	font-family: "宋体";
	font-size: 12px;
	color: #174B73;
	height: 20px;
	width: 24px;
	background-image: url(../images/button08.gif);
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}