<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canko.mapper.GoodsMapper">
    <select id="getGoodsById" resultType="com.canko.domain.Goods">
        select * from goods where id = #{id}
    </select>
    <select id="getGoodsByDisplayId" resultType="com.canko.domain.Goods">
        select * from goods where display_id = #{displayId}
    </select>
    <select id="getGoodsByName" parameterType="map" resultType="com.canko.domain.Goods">
        select * from goods where name like '%'||#{name}||'%' order by id desc limit #{offset},#{rows}
    </select>
    <select id="countGoodsByName" parameterType="map" resultType="java.lang.Integer">
        select count(*) from goods where name like '%'||#{name}||'%'
    </select>
    <insert id="addGoods" parameterType="com.canko.domain.Goods">
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into goods(name,display_id,goods_url,prime_price,market_price,discount,deadline_time,
        sales_volume,stock,goods_information,first_level_name,first_level,
        <if test="firstLevelPicture != null and firstLevelPicture != ''">
            first_level_picture,
        </if>
        <if test="secondLevelName != null and secondLevelName != ''">
            second_level_name,second_level,
        </if>
        <if test="thirdLevelName != null and thirdLevelName != ''">
            third_level_name,third_level,
        </if>
        <if test="carouselUrl != null and carouselUrl != ''">
            carousel_url,
        </if>
        <if test="video != null and video != ''">
            video,
        </if>
        goods_images,buy_information,remark)
        values(#{name},#{displayId},#{goodsUrl},#{primePrice},#{marketPrice}, #{discount},#{deadlineTime},
         #{salesVolume},#{stock},#{goodsInformation},#{firstLevelName},#{firstLevel},
         <if test="firstLevelPicture != null and firstLevelPicture != ''">
            #{firstLevelPicture},
         </if>
         <if test="secondLevelName != null and secondLevelName != ''">
             #{secondLevelName}, #{secondLevel},
         </if>
         <if test="thirdLevelName != null and thirdLevelName != ''">
             #{thirdLevelName},#{thirdLevel},
         </if>
         <if test="carouselUrl != null and carouselUrl != ''">
             #{carouselUrl},
         </if>
         <if test="video != null and video != ''">
             #{video},
         </if>
         #{goodsImages},#{buyInformation},#{remark})
    </insert>
    <update id="updateGoods" parameterType="com.canko.domain.Goods">
        update goods set name = #{name},
        prime_price = #{primePrice},market_price = #{marketPrice},discount = #{discount},
        sales_volume = #{salesVolume},stock = #{stock},
        goods_information = #{goodsInformation},goods_images = #{goodsImages},
        first_level_name = #{firstLevelName},first_level = #{firstLevel},
        <if test="goodsUrl != null and goodsUrl != ''">
            goods_url = #{goodsUrl},
        </if>
        <if test="carouselUrl != null and carouselUrl != ''">
            carousel_url = #{carouselUrl},
        </if>
        <if test="video != null and video != ''">
            video = #{video},
        </if>
        <if test="firstLevelPicture != null and firstLevelPicture != ''">
            first_level_picture = #{firstLevelPicture},
        </if>
        <if test="secondLevelName != null and secondLevelName != ''">
            second_level_name = #{secondLevelName},second_level = #{secondLevel},
        </if>
        <if test="thirdLevelName != null and thirdLevelName != ''">
            third_level_name = #{thirdLevelName},third_level = #{thirdLevel},
        </if>
        <if test="remark != null and remark != ''">
            remark = #{remark},
        </if>
        buy_information = #{buyInformation}
        where id = #{id}
    </update>
</mapper>