<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canko.mapper.GoodsMapper">
    <select id="getGoodsById" resultType="com.canko.domain.Goods">
        select * from goods where id = #{id}
    </select>
    <select id="getGoodsByDisplayId" resultType="com.canko.domain.Goods">
        select * from goods where display_id = #{displayId}
    </select>
    <select id="getGoodsByName" parameterType="map" resultType="com.canko.domain.Goods">
        select * from goods where name like '%'||#{name}||'%' order by id desc limit 0,15
    </select>
    <insert id="addGoods" parameterType="com.canko.domain.Goods">
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into goods(name,display_id,goods_url,prime_price,market_price,discount,deadline_time,
        sales_volume,stock,goods_information,first_level_name,first_level,second_level_name,
        second_level,third_level_name,third_level,goods_images,buy_information,remark)
        values(#{name},#{displayId},#{goodsUrl},#{primePrice},#{marketPrice}, #{discount},#{deadlineTime},
          #{salesVolume},#{stock},#{goodsInformation},#{firstLevelName},#{firstLevel},#{secondLevelName},
          #{secondLevel},#{thirdLevelName},#{thirdLevel},#{goodsImages},#{buyInformation},#{remark})
    </insert>
    <update id="updateGoods" parameterType="com.canko.domain.Goods">
        update goods set name = #{name},goods_url = #{goodsUrl},prime_price = #{primePrice},market_price = #{marketPrice},
        discount = #{discount},deadline_time = #{deadlineTime},sales_volume = #{salesVolume},stock = #{stock},
        goods_information = #{goodsInformation},first_level_name = #{firstLevelName},first_level = #{firstLevel},
        second_level_name = #{secondLevelName},second_level = #{secondLevel},third_level_name = #{thirdLevelName},
        third_level = #{thirdLevel},goods_images = #{goodsImages},buy_information = #{buyInformation},remark = #{remark}
        where id = #{id}
    </update>
</mapper>