<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canko.mapper.OrderMapper">
    <select id="getOrderById" resultType="com.canko.domain.GoodsOrder">
        select * from goods_order where id = #{id}
    </select>
    <select id="getOrderByDisplayId" resultType="com.canko.domain.GoodsOrder">
        select * from goods_order where display_id = #{displayId}
    </select>
    <select id="getOrderBy" resultType="com.canko.domain.GoodsOrder" parameterType="map">
        select o.*
        from goods_order o left join member m on o.member_id = m.id
        where (o.display_id = #{str} or m.name = #{str} or m.mobilephone = #{str}) and o.order_state >= 12
    </select>
    <select id="getOrderListBy" resultType="com.canko.domain.GoodsOrder" parameterType="map">
        select o.*
        from goods_order o left join member m on o.member_id = m.id
        where o.order_state >= 12
        <if test="memberName != null and memberName != ''">
          and m.name = #{memberName}
        </if>
        <if test="tel != null and tel != ''">
          and m.mobilephone = #{tel}
        </if>
        <if test="displayId != null and displayId != ''">
          and o.display_id = #{displayId}
        </if>
        <if test="startTime != null ">
            and create_time <![CDATA[ >= ]]> #{startTime}
        </if>
        <if test="endTime != null ">
            and create_time <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>
    <insert id="addOrder" parameterType="com.canko.domain.GoodsOrder">
        <selectKey order="AFTER" resultType="java.lang.Integer" keyProperty="id">
            select LAST_INSERT_ID()
        </selectKey>
        insert into goods_order(display_id,goods_id,goods_spec,num,order_price,order_currency,create_time,order_state)
        values(#{displayId},#{goods.id},#{goodsSpec},#{num},#{orderPrice},#{orderCurrency},#{createTime},#{orderState})
    </insert>
    <update id="updateOrder" parameterType="com.canko.domain.GoodsOrder">
        update goods_order
          set order_state = #{orderState},update_time = now(),num = #{num},order_price = #{orderPrice}
          <if test="memberId != null">
              ,member_id = #{memberId}
          </if>
          <if test="orderRemark != null and orderRemark != ''">
              ,order_remark = #{orderRemark}
          </if>
        where id = #{id}
    </update>
    <update id="updateOrderStatus" parameterType="map">
        update goods_order set order_state = #{status},update_time = now() where id = #{id}
    </update>
    <update id="updateOrderInformation" parameterType="map">
        update goods_order set order_information = #{information},update_time = now() where id = #{id}
    </update>
</mapper>        