<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="320" name="MobileOptimized" />
    <meta content="telephone=no" name="format-detection" />
    <title>Chose Goods spec</title>
    <link type="text/css" rel="stylesheet" href="./src/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="./src/css/cart.css"  />
    <script type="text/javascript" src="./src/js/jquery-2.2.3.min.js" ></script>
    <script type="text/javascript" src="./src/js/cjs.js"></script>
</head>
<body>

<input type="hidden" id="_region" value="Indonesia">
<div class="g-bd">
    <div class="m-hd">
        <div class="m-topBar">
            <a class="goback" href="./index.html"></a>
            <div style="width: 100%;"><div class="title">Informasi konfirmasi</div></div>
        </div>
    </div>

    <div id="order" style="display: none;">
        <div class="warp">
            <form id="form" name="form" action="/order" method="post" onSubmit="return postcheck()">
                <!--  -->
                <input type="hidden" name="combo_id" value="">
                <input type="hidden" name="token" value="5fb58bdf1121a6b55f72e7d923ba3c74">
                <input type="hidden" name="type" value="fanjz005">
                <input type="hidden" id="act" name="act" value="getAttrPrice">
                <!-- 勾选的属性 -->
                <section class="selectedPrototype">
                </section>
                <!--套餐-->
                <div class="m-goodItems">
                    <ul class="m-list m-attrs">
                        <li class="item">
                            <div class="m-goodItem">
                                <div class="imgWrap" style="height: 80px;">
                                    <img :src="result.goodImg">
                                </div>
                                <!--选中的产品-->
                                <div class="cnt">
                                    <span style="color: black;font-size: 16px;"> {{result.spec}} <br/> NT$ <combprice>{{result.num*result.price}}</combprice></span>

                                </div>
                            </div>
                        </li>
                        <li class="item" style="margin: 10px 0px; padding-bottom:5px;">
                            <div class="u-format">
                                <div class="tt">Kuantitas</div>
                                <div class="con">
                                    <div class="m-selnum dr">
                                        <div class="less z-dis" onclick="minnumber()"></div>
                                        <div class="textWrap">
                                            <input id="mun" v-model="result.num" name="num" type="number">
                                        </div>
                                        <div class="more" onclick="addnumber()"></div>
                                    </div>
                                </div>
                                <div style="clear: both;"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="u-icon u-address-bg"></div>
                <div class="address-input">
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">Nama</div>
                            </div>
                            <div class="cell">
                                <input required="required" v-model="result.name" placeholder="Harap masukkan nama seperti Amy" type="text" name="name" class="inputText">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">Ponsel</div>
                            </div>
                            <div class="cell">
                                <input required="required" v-model="result.tel" placeholder="Silakan masukkan nomor telepon" type="text" name="mob" class="inputText">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">E-mail</div>
                            </div>
                            <div class="cell">
                                <input placeholder="Harap masukkan alamat email umum" v-model="result.email" type="email" name="email" class="inputText">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">Alamat terinci</div>
                            </div>
                            <div class="cell" id="province">
                                <select name="province">
                                    <option value="3409" selected> Indonesia</option>
                                </select>
                            </div>
                        </label>
                    </div>

                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed"></div>
                            </div>
                            <div class="cell">
                                <input v-model="result.address" required="required" type="text" name="address" placeholder="Informasi Penting tentang kota tertentu + nomor kabupaten + jalan tertentu" class="inputText">
                            </div>
                        </label>
                    </div>
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">kode pos</div>
                            </div>
                            <div class="cell">
                                <input v-model="result.postcode" type="text" name="postal"  class="inputText">
                            </div>
                        </label>
                    </div>
                    <!--<div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">付款方式</div>
                            </div>
                            <div class="cell">
                                <input v-model="result.payment_type" name="payment_type" value="0" checked type="radio">  貨到付款

                            </div>
                        </label>
                    </div>-->
                    <div class="buy-single-row label-input">
                        <label>
                            <div class="input-label">
                                <div class="cell fixed">Papan pesan</div>
                            </div>
                            <div class="cell" style="line-height: 18px;">
                                <textarea v-model="result.remark" placeholder="" name="remark" class="text_area" rows="1" style="padding-top:17px;"></textarea>
                            </div>
                        </label>
                    </div>
                </div>
                <!--  -->
                <div style="padding: 15px; background: #fff;font-size: 14px;color: #666;text-align: left;margin-top: 10px; margin-bottom: 20px;">
                    Kiat: Dukung cash on delivery + ongkos kirim gratis + 7 hari periode penghargaan! Jika Anda memiliki pertanyaan tentang menerima barang, silakan hubungi layanan pelanggan online kami! Anda juga dapat menghubungi kapan saja::<a href="mailto:service@azonebuy.com">service@azonebuy.com</a>.
                    Harap lampirkan nama Anda dan informasi kontak dan nomor pesanan di surat sehingga kami dapat segera menanganinya untuk Anda. Saya harap Anda senang berbelanja! ! !
                </div>
                <!--  -->

                <div id="fahuo" style="padding-bottom: 20px;color: #666;text-align: center;margin-top: 15px;font-size: 12px; margin-bottom: 20px;">
                </div>
                <!--  -->
                <footer class="m-orderFt">
                    <div class="actualPrice">
                        <label class="label">Total barang dagangan:&nbsp;</label>
                        <span class="value">
                            <span id="price"></span>
                            <input type="hidden" name="zfbprice" value="20889">
                            <input type="hidden" name="price" value="" readonly="" class="value" style="width:80px;border: none;text-align: center;">{{result.num*result.price}}元<span id="zfbyh"></span>
                        </span>
                    </div>
                    <button class="btn w-button" type="submit" name="Submit" value="Beli sekarang">Beli sekarang</button>
                </footer>
            </form>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="src/js/vue.js"></script>
<script type="text/javascript">
    var config = {
        api_url: '/order'
    }
</script>
<script type="text/javascript" src="./src/js/checkout.js"></script>
<script type="text/javascript">
    $(function(){
        if( $(".edui-upload-video").length > 0 ){
            $(".edui-upload-video").attr("poster", "./src/images/videoPlay.jpg");
            $(".edui-upload-video").click(function(){
                $(this).get(0).play();
            });
        }
    });
</script>
</body>
</html>
